/*preset*/



*.container {
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}


.montserrat-uniquifier {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


/*inizio*/


main {
    background-color: beige;
}


/*per desktop*/




@media (max-width: 992px) {

    .title {
        font-size: large;
        color: orange;
        height: 30px;
    }




    .sottotitolo {
        color: grey;
    }

    .titolo {
        font-size: 20px;
        color: purple;
    }


    ul {
        list-style-type: none;
    }



    .col-50 {
        display: flex;
        justify-items: center;
        align-items: center;
    }







    .container {
        max-width: 100%;
        margin: 0 auto;
    }



    .btn {
        background-color: white;
        border-radius: 100%;
        color: rgb(0, 0, 0);
        font-size: 15px;
        gap: 90px;
    }




    .img {
        max-width: 100%;
    }


    .container-footer {
        background-color: purple;

    }

    
    .footer-list {
        flex-direction: row;
        justify-content: space-between;
    }


}


/*per tablet*/


@media (min-width: 991.99px) {
   
    .title {
        font-size: large;
        color: orange;
        height: 30px;
    }




    .sottotitolo {
        color: grey;
    }

    .titolo {
        font-size: 20px;
        color: purple;
    }


    ul {
        list-style-type: none;
    }



    .col-50 {
        display: flex;
        justify-items: center;
        align-items: center;
        
    }



    .container {
        max-width: 100%;
        margin: 0 auto;
    }


    .btn {
        background-color: white;
        border-radius: 100%;
        color: rgb(0, 0, 0);
        font-size: 15px;
        gap: 90px;
    }




    .img {
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
       max-width: 100%;
    }


    .container-footer {
        background-color: purple;

    }
    .footer-list {
        flex-direction: row;
        justify-content: space-between;
    }


  
}


/*per mobile*/


@media (min-width: 767.99px) {

    .title {
        font-size: large;
        color: orange;
        height: 30px;
    }




    .sottotitolo {
        color: grey;
    }

    .titolo {
        font-size: 20px;
        color: purple;
    }


    ul {
        list-style-type: none;
    }



    .col-50 {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .btn {
        background-color: white;
        border-radius: 100%;
        color: rgb(0, 0, 0);
        font-size: 15px;
        gap: 90px;
    }




    .img {
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
    }


    .container-footer {
        background-color: purple;

    }

    .footer-list {
        flex-direction: row;
        justify-content: space-between;
    }

}